* {
    -webkit-tap-highlight-color: transparent;
} /* disable ripple effect in Android devices */


/*** common body & menu bar styles present in all pages ***/
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;  /* center vertically */
    justify-content: center;  /* center horizontally */
    height: 100vh;
    background-image: url('../../assets/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu-bar {
    position: absolute;
    bottom: 4vh;
    left: 50%;
    transform: translateX(-50%);
    width: 70vw;
    height: 7.5vh;
    background-color: rgba(250, 177, 160, 0.6);
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2px;
}

.menu-item {
    width: 5vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.menu-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.menu-item:hover {
    transform: scale(1.05);
}


/*** home page styles (present in index.html) ***/
.coin-container {
    display: grid;
    position: relative;
    place-items: center;
    top: -5vh;  /* place upper than center */
    width: 70vw;
    height: 40vh;
    background-color: transparent;
}

.coin-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    position: absolute;
    cursor: pointer;
}

.total-coins-container {
    display: grid;
    position: relative;
    place-items: center;  /* place items vertically & horizontally in the center */
    width: 50vw;
    height: 10vh;
    top: -2vh;  /* ensure no overlap with coin container */
    text-align: center;  /* center text within container */
    background-color: transparent;
}

.total-coins {
    object-fit: contain;
    font-size: 6.5vh;
    font-weight: bold;
    color: #ffeaa7;
    text-shadow: 4px 4px 8px rgba(255, 234, 167, 0.5);
}

.counter-container {
    position: absolute;
    top: 4vh;
    left: 10vw;
    display: flex;
    align-items: center;
    background-image: url('../../assets/charge_balance.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 18vw;
    height: 5vh;
    padding-left: 1.5vw;
    font-size: 2.6vh;
    font-weight: bold;
    color: rgba(99, 110, 114, 1.0);
    justify-content: center;
    margin-left: auto;
}

.counter {
    text-shadow: 4px 4px 8px rgba(99, 110, 0, 0.5);
    padding-left: 5.5vw;
}


/*** referral page styles (present in referral.html) ***/
.invite-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(189, 195, 199, 0.3);
    padding: 3vh 3vw;
    border-radius: 2vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 60vw;
}

.invite-heading {
    color: #ecf0f1;
    font-family: 'Arial', sans-serif;
    font-size: 3vh;
}

.invite-text {
    color: #ecf0f1;
    font-family: 'Verdana', sans-serif;
    font-size: 2vh;
}

.invite-button {
    background-color: rgba(255, 234, 167, 0.9);
    color: rgba(0, 0, 0, 1.0);
    border: none;
    padding: 1vh 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Tahoma', sans-serif;
    font-size: 2vh;
    font-weight: bold;
    margin-top: 1vh;
    cursor: pointer;
    border-radius: 0.4vw;
}


/*** boosters page styles (present in boosters.html) ***/
.balance-display {
    left: 2vw;
    top: 2vh;
    position: absolute;
    color: #ffeaa7;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 3vh;
    font-weight: bold;
}

.boosters-title {
    position: absolute;
    top: 0.5vh;
    left: 5vw;
    font-size: 2.5vh;
    font-style: italic;
    color: rgba(255, 234, 167, 0.7);
}

.boosters-box {
    position: relative;
    top: -5vh;
    width: 80vw;
    min-height: 20vh;
    margin: 0 0 2vh 0;
    padding: 4vh 5vw;
    background-color: rgba(189, 195, 199, 0.3);
    border-radius: 2vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;  /* enable scrolling if content overflows */
}

.booster-container {
    display: flex;
    margin: 1vh 0;
    padding: 1vh 3vw;
    align-items: center;
    background-color: rgba(255, 234, 167, 0.7);
    border-radius: 1vw;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 2.75vh;
    font-weight: bold;
    position: relative;
}

.booster-cost {
    display: grid;
    place-items: center;
    padding: 2vh;
    position: absolute;
    right: 3vw;
    background-color: rgba(250, 177, 160, 1.0);
    border-radius: 1vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 2.75vh;
    font-weight: bolder;
}

.disabled {
    background-color: rgba(204, 204, 204, 0.9);
    cursor: not-allowed;
    pointer-events: none; /* prevent any interaction */
}
